@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Raleway:ital,wght@1,300&family=Roboto&family=Roboto+Slab:wght@200&family=Zen+Maru+Gothic:wght@300&display=swap');
body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}
:root {
  --primary-color: #4f46e5;
}
header {
  background-color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 3.5rem;
  height: 2rem;
}
header h1 {
  position: relative;
  top: -1.5rem;
  font-size: 1.5rem;
}
textarea {
  width: 50%;
  border: 1px solid black;
}
textarea::placeholder{
    font-size: large;
}
#btn-input{
    position: relative;
    right: 10.8rem;
    background-color: var(--primary-color);
    border-style: none;   
    border-radius: 0.5rem;
    width: 20%;
    padding: 1.5rem;
    font-size: larger;
}
#btn-input:hover{
    cursor: pointer;
    background-color: #1911b5;
}
.message-para{
    position: relative;
    right: 11rem;
    font-size: large;
    font-weight: bold;
}
#output-text{
  width: 46.5%;
  min-height: 14vh;
  height: auto;
  border: 1px solid black;
  position: relative;
  left: 23.3rem;
  font-weight: bolder;
  text-align: left;
  padding-left: 1rem;
}
.footer{
  background-color: var(--primary-color);
  height: 6.9rem;
  text-align: center;
  margin: 0;
}
.footer h2{
  font-size: large;
}
.footer-para{
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

/* for small devices */

@media (max-width: 900px){
  #btn-input{
    right: 0rem;
    top: -1rem;
    width: 30%;
    padding: 0.5rem;
    font-size: large;
  }
  .message-para{
    right: -0.5rem;
    top: -1rem;
  }
  #output-text{
    left: 8rem;
  }
}

/* for extra small devices */

@media (max-width: 360px){
  #btn-input{
    right: 0rem;
    top: -1rem;
    width: 30%;
    padding: 0.5rem;
    font-size: large;
  }
  .message-para{
    right: -0.5rem;
    top: -1rem;
  }
  #output-text{
    left: 8rem;
  }
}